.header-view {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__image {
    height: 468px;
    width: 328px;
  }
  &__info {
    padding: 0 58px;
    display: flex;
    flex-direction: column
  }
  &__description {
    margin-top: 30px;
  }
  &__genres {
    margin-top: 10px;
  }
  &__movie-details {
    margin-top: 20px;
    display: flex;
  }
  &__movie-details-text {
    margin-right: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #F65261;
  }
  &__movie-with-same-genre {
    height: 50px;
    background-color: #2c2c2c;
    color: white;
    padding: 12px 100px;
  }
  &__score {
    position: relative;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: white 1px solid;
    font-size: 18px;
    background: none;
    color: white;
    border-radius: 30px;
    cursor: auto;
  }
}
