@import './_null';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

$primary-red: #F65261;

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #232323;
  font-size: 20px;
  font-family: Mons;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 600px;
}

.main-title {
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}

.input-search {
  font-family: 'Montserrat', sans-serif;
  width: 718px;
  height: 56px;
  font-size: 20px;
  padding: 0px 10px;
  outline:none;
  border: none;
  border-bottom: solid;
  border-color: $primary-red;
}
.movies-wrapper {
  margin: 0 auto;
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@import './containers/Header/header';
@import './containers/Main/main';
@import './containers/SearchOption/search-option';
@import './containers/FilmCard/_film-card';
@import './containers/Footer/footer'