body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  height: 600px;
}