@import './_null';

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #232323;
  font-size: 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 600px;
}

@import './containers/Header/header';
@import './containers/Main/main'