$primary-red: #F65261;

.header {
  height: 400px;
  background: url('../../assets/images/header-bg.png');
  padding: 0 56px;

  &__logo {
    margin: 0;
    padding: 20px 0;
    color: $primary-red;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
  }

  &__logo-regular {
    font-weight: 300;
  }

  &__input {
    margin-top: 38px;
  }

  &__search-option {
    margin-top: 10px;
  }
}

.header__nav{
  padding: 0;
  width: 300px;
}
.header__search-btn {
  margin-left: 10px;
}
.header__filter-btn {
  margin-top: 15px;
}
$primary-red: #F65261;

.option-list {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;

  &__item {
    color: white;
    text-transform: uppercase;
  }
  &__button {
    text-transform: uppercase;
    background-color: #555555;
    width: 80px;
    height: 30px;
    color: white;
    border-radius: 5px;
  }
  &__button--active {
    background-color: $primary-red;
  }
}