.header {
  height: 400px;
  background: url('../../assets/images/header-bg.png');
  padding: 0 56px;
}
.header__logo{
  margin: 0;
  padding: 20px 0;
}
.header__nav{
  padding: 0;
  width: 300px;
}
.header__search-btn {
  margin-left: 10px;
}
.header__filter-btn {
  margin-top: 15px;
}